@page "/moedas"
@inherits BlazorInteropJs.Client.Pages.MoedasModel

@if (Moedas == null)
{

}
else
{
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" onclick="@CallJSMethod">Chamar método JS pelo C#</button>
            &nbsp;
            <button class="btn btn-primary" id="btnJsToCs">Executar Javascript que chama rotina C#</button>
        </div>
        
        <hr/>
        <div class="col-md-3 col-sm-3">
            <span id="resultadoCSharp"></span>
        </div>
        <div class="col-md-6 col-sm-9" id="tabelaCotacoes">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th>Simbolo</th>
                        <th>Rank</th>
                        <th>Preco</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var moeda in Moedas)
                    {
                        <tr>
                            <td>@moeda.Nome</td>
                            <td>@moeda.Simbolo</td>
                            <td>@moeda.Rank</td>
                            <td>USD @moeda.Preco.ToString("N")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}
